<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Not Found</title>
</head>
<body>
    <div>
        <header>
            <h1>404 - Not Found</h1>
        </header>
        <main>
            <pre>{{ c }}</pre>
            <p>La page n'a pas été trouvé</p>
            <p>
                <a href="/">Revenir à l'accueil</a>
            </p>
        </main>
        <footer>
            <hr />
            <p>Dawan FOAD - Formtion NodeJS - Décembre 2021</p>
        </footer>
    </div>
</body>
</html>