<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Bienvenue sur notre app ExpressJS{% endblock %}</title>

    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
    <div>
        <header>
            <h1>ExpressJS</h1>
        </header>
        <nav>
            <a href="/">Accueil</a> - 
            <a href="/params">Les paramètres de requête</a> - 
            <a href="/url/1">Les paramètres d'url</a> - 
            <a href="/form">Les formulaires</a> - 
            <a href="/clients">Liste client</a> - 
        </nav>
        <main>
            {# commentaire #}
            {% block body %}{% endblock %}
        </main>
        <footer>
            <hr />
            <p>Dawan FOAD - Formtion NodeJS - Décembre 2021</p>
        </footer>
    </div>
</body>
</html>