h1, .h1{
    margin-bottom: 0;
}

.red-border{
    border: 1px solid #ff0000; /* f00 */
}

.paragraphe-vert{
    color: #aacc00;
}

#carre{
    width: 100px;
    height: 100px;
    background-color: orange;
    margin: 20px auto;
    transition: transform 1s;
}

.left{
    transform: translateX( calc( -1 * ( 100vw/2 - 100px ) ) );
}

.right{
    transform: translateX( calc( 100vw/2 - 100px ) );
}

.blog-wrapper{
    height: 300px;
    overflow: auto;
}